$color-primario: rgb(161, 79, 97);
$color-secundario: rgb(223, 164, 97);

$color-p-transparencia: rgba(175, 33, 64, 0.511);
$color-s-transparencia: rgba(223, 164, 97, 0.338);

$color-texto-box: rgba(31, 31, 32, 0.792);

$fuente-principal: cursive;
$fuente-secundaria: Georgia, 'Times New Roman', Times, serif;

$Sombra: 1px 1px 15px rgb(0, 0, 0);

$gap: 400px;