.fondo-c{
    height: 100vh;
    background-image: url(../img/contacto.jpg);
    background-position: center;
    background-size: cover;
    padding: 7%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__div{    
        .fondo-n__box-n{
            &--titulo{
                font-family: $fuente-secundaria;
                color: $color-primario;
                text-shadow: $Sombra;
            }
    
            &--subtitulo{
                font-family: $fuente-secundaria;
                color: $color-secundario;
                font-size: 20xpx;
                text-shadow: $Sombra;
            }
        }
    }

    .form-n__div{
        .form-n__box-general{
            .form-n__box-form{

                .form-n__h3{
                    padding: 10px;
                    text-shadow: $Sombra;
                }

                .form-n__input{
                    padding: 10px;
                    text-shadow: $Sombra;
                }

                .form-n__h3{
                    padding: 10px;
                    font-family: $fuente-secundaria;
                    color: $color-primario;
                    text-shadow: $Sombra;
                }

                .form-n__check{
                    padding: 10px;
                    font-family: $fuente-secundaria;
                    color: $color-secundario;
                    text-shadow: $Sombra;
                }
            }
        }
    }
    .margin{
        @media (max-width: 990px){
            margin-top: 100px;
        }
        @media (max-width: 540px){
            margin-top: 220px;
        }
    }
}