.fondo{
    height: 100vh;
    background-image: url(../img/bodega.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px;

    &__box{
        background-color: $color-s-transparencia;
        height: 280px;
        width: 820px;
        
        border: solid 10px $color-p-transparencia;
        padding: 15px;
        border-radius: 30px;
        overflow: auto;
    }

    &__texto{
        color: $color-texto-box;
        font-family: $fuente-principal;
    }
}