.fondo{
    height: 100vh;
    background-image: url(../img/bodega.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;

    &__container{
        .fondo__row{
            .fondo__section-texto{
                overflow: auto;
                .fondo__texto{
                    background-color: $color-s-transparencia;
                    border: solid 3px $color-p-transparencia;
                    margin: 0px 20px 40px 20px;
                    padding: 10px;
                    border-radius: 30px;
                    box-sizing: border-box;
                    color: $color-texto-box;
                    font-family: $fuente-principal;
                    font-size: 24px;
                    max-height: 360px;
                    max-width: 600px;
                    overflow: auto;
                    margin-bottom: 160px;
                }
            }

            .fondo__section-video{
                display: flex;
                align-items: center;
                justify-content: center;

                .fondo__video{
                    margin-bottom: 160px;
                    border: solid $color-p-transparencia;
                    border-radius: 20px;
                }
            }
        }
    }
}