.footer{
    background-color: $color-secundario;

    &__box-texto{
        &--links{
            padding: 10px;

            .footer__box-texto--p{
                padding: 30px 30px;
                color: $color-primario;
                font-family: $fuente-secundaria;
            }
        }
    }
}

.footer2{
    background-color: $color-primario;
    &__box-redes{
        &--links{
            padding: 10px;

            .footer2__p{
                font-family: $fuente-principal;
                font-size: 20px;
                color: $color-secundario;
                padding: 14px 20px 0px 0px;
                display: flex;
                justify-content: end;
            }

            .footer2__ul{
                gap: 30px;
                display: flex;
                justify-content: first baseline;
                padding: 16px 0px 0px 20px;
                background-color: $color-primario;
            }            
        }
    }
}