.footer{
    background-color: $color-secundario;

    &__box-texto{
        &--links{
            padding: 10px;

            .footer__box-texto--p{
                padding: 40px;
                color: $color-primario;
                font-family: $fuente-secundaria;
            }
        }
    }
}

.ul-f-index{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: $color-secundario;
}

.img-ul-f-index{
    display: flex;
    gap: 30px;
    justify-content: center;
    
    padding: 1px;
    background-color: $color-primario;
}

.color-r{
    background-color: $color-secundario;
}

.gap-ff{
    gap: 40PX;
}

.color-i{
    color: black;
}
