.tarjeta{
    &__box{
        background-color: $color-s-transparencia;
        padding: 10px;

        .tarjeta__padding-img{
            padding-bottom: 4px;
        }

        .tarjeta__padding-texto{
            padding: 6px;
        }
    }
}